[Unit]
Description=Node Exporter
After=network.target
 
[Service]
User=monitoring
Group=monitoring
Type=simple
ExecStart=/usr/local/bin/node_exporter --web.listen-address="172.17.0.1:9101"

[Install]
WantedBy=multi-user.target